.project
.pydevproject
dev_builds
.settings
*.env
*.egg-info
src/dist
build/dist/osx/installer/Readme.txt
build/dist/osx/installer/License.txt
doc/fontconfig
doc/html
doc/pdf
*.bak
*.pyc
CERT_Basic_Fuzzing_Framework.egg-info
dist_builds
doc
setup_env/bff.env
src/linux/COPYING.txt
src/windows/COPYING.txt
build/distmods/osx/installer/bff/
build/distmods/osx/installer/*.txt
*.stackdump
.teeproject
.externalToolBuilders
